# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Nix
result
result-*

# direnv
.direnv/

# Emacs
config/emacs/straight/
config/emacs/data/
config/emacs/config/
*.elc
*~
\#*\#
.\#*

# Secrets
.env
.env.local
*.pem
id_rsa
